*{
    margin:0;
    padding:0;
    background-color: rgb(136, 180, 212);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
}

.header{
    font-size: 50px;
    font-weight: bold;
    background-color: rgb(224, 255, 255, 0.5);
    padding: 12px;
    text-align: center;
    border-bottom: solid rgb(145, 204, 226) 5px;
}

.btn#myBtn{
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
}

.btn:hover{
    background-color: rgb(137, 148, 178);
}

.modal{
    display: none;
    width: 400px;
    height: 500px;
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    margin: auto auto;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(226, 231, 241);
    border-radius: 20px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .add-book-form{
    margin: 20px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    width: 300px;
    height: 400px;
    background-color: rgb(141, 75, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input{
    height: 50px;
    width: 250px;
    border-radius: 15px;
    font-size: 25px;
  }

  #isRead{
   font-size: 30px;
   width: 50px;
  }

  .modal-head{
    text-align: center;
    font-size: 50px;
    background-color: transparent;
  }

  .book-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-xl);
    margin-top: var(--spacing-xl);
    background-color: #aaaaaa;
    width: 50px;
    height: 100px;
  }

  .book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    background-color: var(--white);
    box-shadow: var(--shadow);
    line-height: 1.2;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }